<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('百度ECharts')" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>气温</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>降水量</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="echarts-bar-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>湿度</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="humidity"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>光照</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="illumination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>光合作用</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="Photosynthesis"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>风向</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="wind_direction"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>二氧化碳含量</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="co2"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ph值</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="ph"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土壤温度01</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="soil_temperature_1"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土壤湿度01</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="soil_moisture_1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土壤温度02</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="soil_temperature_2"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土壤湿度02</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="soil_moisture_2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土壤温度03</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="soil_temperature_3"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土壤湿度03</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="soil_moisture_3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>风速</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="wind_speed"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>光导</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="conductance"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: echarts-js" />
<script type="text/javascript">
    $(function () {

        var dt = getEdata("fengsu");

        function getEdata(str) {
            var dttime = [];
            $.ajax({
                type:"POST",
                url:"/system/td/ect",
                data: {"str": str},
                datatype: "json",
                async:false,
                success:function (data) {
                    data = JSON.parse(data);
                    for (var i=0; i < data.data.length; i++){
                        dttime[i] = data.data[i][0];
                    }
                },
                error:function (data) {
                    alert("error");
                }
            });
            return dttime;
        }

        function EData(str) {
            var eData = [];
            $.ajax({
                type:"POST",
                url:"/system/td/ect",
                data: {"str": str},
                datatype: "json",
                async:false,
                success:function (data) {
                    data = JSON.parse(data);
                    for (var i=0; i < data.data.length; i++){
                        eData[i] = data.data[i][1];
                    }
                },
                error:function (data) {
                    alert("error");
                }
            });
            window.alert(eData);
            return eData;
        }

        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var lineoption = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data: EData("temperature"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);

        var barChart = echarts.init(document.getElementById("echarts-bar-chart"));
        var baroption = {
            title : {
                text: '某地区蒸发量和降水量'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['降水量']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'降水量',
                    type:'bar',
                    data:EData("rainfall"),
                    markPoint : {
                        data : [
                            {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                            {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        barChart.setOption(baroption);

        window.onresize = barChart.resize;

        var humidity = echarts.init(document.getElementById("humidity"));
        var humiditytion = {
            title : {
                text: '某地区蒸发量和降水量'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['降水量']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'降水量',
                    type:'bar',
                    data: EData("humidity"),
                    markPoint : {
                        data : [
                            {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                            {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        humidity.setOption(humiditytion);
        $(window).resize(humidity.resize);

        var illumination = echarts.init(document.getElementById("illumination"));
        var illuminationtion = {
            title : {
                text: '某地区蒸发量和降水量'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['降水量']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'降水量',
                    type:'bar',
                    data:EData("illumination"),
                    markPoint : {
                        data : [
                            {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                            {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        illumination.setOption(illuminationtion);

        window.onresize = illumination.resize;

        var Photosynthesis = echarts.init(document.getElementById("Photosynthesis"));
        var Photosynthesistion = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data:EData("Photosynthesis"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        Photosynthesis.setOption(Photosynthesistion);

        window.onresize = Photosynthesis.resize;

        var co2 = echarts.init(document.getElementById("co2"));
        var co2tion = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data:EData("co2"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        co2.setOption(co2tion);

        window.onresize = co2.resize;

        window.onresize = Photosynthesis.resize;

        var ph = echarts.init(document.getElementById("ph"));
        var phtion = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data:EData("ph"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        ph.setOption(phtion);

        window.onresize = ph.resize;


    //    -----------------------------------------------------------------------------
        var soil_temperature_1 = echarts.init(document.getElementById("soil_temperature_1"));
        var soil_temperature_1tion = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data:EData("soil_temperature_1"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        soil_temperature_1.setOption(soil_temperature_1tion);
        $(window).resize(soil_temperature_1.resize);

        var soil_moisture_1 = echarts.init(document.getElementById("soil_moisture_1"));
        var soil_moisture_1tion = {
            title : {
                text: '某地区蒸发量和降水量'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['降水量']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'降水量',
                    type:'bar',
                    data:EData("soil_moisture_1"),
                    markPoint : {
                        data : [
                            {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                            {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        soil_moisture_1.setOption(soil_moisture_1tion);

        window.onresize = soil_moisture_1.resize;
    //    -----------------------------------------------------------------------------------------------
        var soil_temperature_2 = echarts.init(document.getElementById("soil_temperature_2"));
        var soil_temperature_2tion = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data:EData("soil_temperature_2"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        soil_temperature_2.setOption(soil_temperature_2tion);
        $(window).resize(soil_temperature_2.resize);

        var soil_moisture_2 = echarts.init(document.getElementById("soil_moisture_2"));
        var soil_moisture_2tion = {
            title : {
                text: '某地区蒸发量和降水量'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['降水量']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'降水量',
                    type:'bar',
                    data:EData("soil_moisture_2"),
                    markPoint : {
                        data : [
                            {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                            {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        soil_moisture_2.setOption(soil_moisture_2tion);

        window.onresize = soil_moisture_2.resize;
    //    ----------------------------------------------------------------------------------------
        var soil_temperature_3 = echarts.init(document.getElementById("soil_temperature_3"));
        var soil_temperature_3tion = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data:EData("soil_temperature_3"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        soil_temperature_3.setOption(soil_temperature_3tion);
        $(window).resize(soil_temperature_3.resize);

        var soil_moisture_3 = echarts.init(document.getElementById("soil_moisture_3"));
        var soil_moisture_3tion = {
            title : {
                text: '某地区蒸发量和降水量'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['降水量']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'降水量',
                    type:'bar',
                    data:EData("soil_moisture_3"),
                    markPoint : {
                        data : [
                            {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                            {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        soil_moisture_3.setOption(soil_moisture_3tion);

        window.onresize = soil_moisture_3.resize;

        //    ----------------------------------------------------------------------------------------
        var wind_speed = echarts.init(document.getElementById("wind_speed"));
        var wind_speedtion = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data:EData("wind_speed"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        wind_speed.setOption(wind_speedtion);
        $(window).resize(wind_speed.resize);

        var conductance = echarts.init(document.getElementById("conductance"));
        var conductancetion = {
            title : {
                text: '一天气温'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'气温',
                    type:'line',
                    data:EData("conductance"),
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        conductance.setOption(conductancetion);

        window.onresize = conductance.resize;
    });
</script>
</body>
</html>