<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('百度ECharts')" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>温度</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>雨量</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="echarts-bar-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>湿度</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="humidity"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>照度</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="illumination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>光合</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="Photosynthesis"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>风向</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="wind_direction"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>CO2</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="co2"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>PH</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="ph"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土温1</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="soil_temperature_1"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土湿1</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="soil_moisture_1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土温2</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="soil_temperature_2"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土湿2</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="soil_moisture_2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土温3</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="soil_temperature_3"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土湿3</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="soil_moisture_3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>风速</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="wind_speed"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>电导</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="conductance"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: echarts-js" />
<script type="text/javascript">
    $(function () {

        var dt = getEdata("temperature");

        function getEdata(str) {
            var dttime = [];
            $.ajax({
                type:"POST",
                url:"/system/td/ect",
                data: {"str": str},
                datatype: "json",
                async:false,
                success:function (data) {
                    data = JSON.parse(data);
                    for (var i=0; i < data.data.length; i++){
                        dttime[i] = data.data[i][0];
                    }
                },
                error:function (data) {
                    alert("error");
                }
            });
            return dttime;
        }

        function EData(str) {
            var eData = [];
            $.ajax({
                type:"POST",
                url:"/system/td/ect",
                data: {"str": str},
                datatype: "json",
                async:false,
                success:function (data) {
                    data = JSON.parse(data);
                    for (var i=0; i < data.data.length; i++){
                        eData[i] = data.data[i][1];
                    }
                },
                error:function (data) {
                    alert("error");
                }
            });
            return eData;
        }

        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var lineoption = {
            title : {
                text: '最近一天温度',
                trigger: 'axis',
                formatter: function (params, ticket, callback) {
                    var htmlStr = '';
                    for(var i=0;i<params.length;i++){
                        var param = params[i];
                        var xName = param.name;//x轴的名称
                        var seriesName = param.seriesName;//图例名称
                        var value = param.value;//y轴值
                        var color = param.color;//图例颜色
                        if(i===0){
                            htmlStr += xName + '日' + '<br/>';//x轴的名称
                        }
                        htmlStr +='<div>';
                        //为了保证和原来的效果一样，这里自己实现了一个点的效果
                        htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:'+color+';"></span>' + '投诉 ' + value;
                        htmlStr += '</div>';
                    }
                    return htmlStr;
                }
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['温度']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'温度',
                    type:'line',
                    data: EData("temperature"),
                    // markLine : {
                    //     data : [
                    //         {type : 'average', name: '平均值'}
                    //     ]
                    // }
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#ff6600'
                        }
                    }
                }
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);

        var barChart = echarts.init(document.getElementById("echarts-bar-chart"));
        var baroption = {
            title : {
                text: '最近一天雨量'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['雨量']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ],
            series : [
                {
                    name:'雨量',
                    type:'bar',
                    data:EData("rainfall"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1   //设定实心点的大小
                }
            ]
        };
        barChart.setOption(baroption);

        window.onresize = barChart.resize;

        var humidity = echarts.init(document.getElementById("humidity"));
        var humiditytion = {
            title : {
                text: '最近一天湿度'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['湿度']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ],
            series : [
                {
                    name:'湿度',
                    type:'bar',
                    data: EData("humidity"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#545096'
                        }
                    }
                }
            ]
        };
        humidity.setOption(humiditytion);
        $(window).resize(humidity.resize);

        var illumination = echarts.init(document.getElementById("illumination"));
        var illuminationtion = {
            title : {
                text: '最近一天照度'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['照度']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} lx'
                    }
                }
            ],
            series : [
                {
                    name:'照度',
                    type:'bar',
                    data:EData("illumination"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#d0ce00'
                        }
                    }
                }
            ]
        };
        illumination.setOption(illuminationtion);

        window.onresize = illumination.resize;

        var Photosynthesis = echarts.init(document.getElementById("Photosynthesis"));
        var Photosynthesistion = {
            title : {
                text: '最近一天光合'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['光合']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} umol'
                    }
                }
            ],
            series : [
                {
                    name:'光合',
                    type:'line',
                    data:EData("Photosynthesis"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#d0ce00'
                        }
                    }
                }
            ]
        };
        Photosynthesis.setOption(Photosynthesistion);

        window.onresize = Photosynthesis.resize;

        var wind_direction = echarts.init(document.getElementById("wind_direction"));
        var wind_directiontion = {
            title : {
                text: '最近一天风向'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['风向']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °'
                    }
                }
            ],
            series : [
                {
                    name:'风向',
                    type:'line',
                    data:EData("wind_direction"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#33cabb'
                        }
                    }
                }
            ]
        };
        wind_direction.setOption(wind_directiontion);

        window.onresize = wind_direction.resize;


        var co2 = echarts.init(document.getElementById("co2"));
        var co2tion = {
            title : {
                text: '最近一天CO2含量'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['CO2']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} %'
                    }
                }
            ],
            series : [
                {
                    name:'CO2',
                    type:'line',
                    data:EData("co2"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#ed9c28'
                        }
                    }
                }
            ]
        };
        co2.setOption(co2tion);

        window.onresize = co2.resize;

        window.onresize = Photosynthesis.resize;

        var ph = echarts.init(document.getElementById("ph"));
        var phtion = {
            title : {
                text: '最近一天PH值'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['PH']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} '
                    }
                }
            ],
            series : [
                {
                    name:'PH',
                    type:'line',
                    data:EData("ph"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#ed9c28'
                        }
                    }
                }
            ]
        };
        ph.setOption(phtion);

        window.onresize = ph.resize;


    //    -----------------------------------------------------------------------------
        var soil_temperature_1 = echarts.init(document.getElementById("soil_temperature_1"));
        var soil_temperature_1tion = {
            title : {
                text: '最近一天土温1'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['土温1']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'土温1',
                    type:'line',
                    data:EData("soil_temperature_1"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#d43f3a'
                        }
                    }
                }
            ]
        };
        soil_temperature_1.setOption(soil_temperature_1tion);
        $(window).resize(soil_temperature_1.resize);

        var soil_moisture_1 = echarts.init(document.getElementById("soil_moisture_1"));
        var soil_moisture_1tion = {
            title : {
                text: '最近一天土湿1'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['土湿1']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} %'
                    }
                }
            ],
            series : [
                {
                    name:'土湿1',
                    type:'bar',
                    data:EData("soil_moisture_1"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#4E5465'
                        }
                    }
                }
            ]
        };
        soil_moisture_1.setOption(soil_moisture_1tion);

        window.onresize = soil_moisture_1.resize;
    //    -----------------------------------------------------------------------------------------------
        var soil_temperature_2 = echarts.init(document.getElementById("soil_temperature_2"));
        var soil_temperature_2tion = {
            title : {
                text: '最近一天土温2'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['土温2']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'土温2',
                    type:'line',
                    data:EData("soil_temperature_2"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#d43f3a'
                        }
                    }
                }
            ]
        };
        soil_temperature_2.setOption(soil_temperature_2tion);
        $(window).resize(soil_temperature_2.resize);

        var soil_moisture_2 = echarts.init(document.getElementById("soil_moisture_2"));
        var soil_moisture_2tion = {
            title : {
                text: '最近一天土湿2'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['土湿2']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} %'
                    }
                }
            ],
            series : [
                {
                    name:'土湿2',
                    type:'bar',
                    data:EData("soil_moisture_2"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#4f5962'
                        }
                    }
                }
            ]
        };
        soil_moisture_2.setOption(soil_moisture_2tion);

        window.onresize = soil_moisture_2.resize;
    //    ----------------------------------------------------------------------------------------
        var soil_temperature_3 = echarts.init(document.getElementById("soil_temperature_3"));
        var soil_temperature_3tion = {
            title : {
                text: '最近一天土温3'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['土温3']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'土温3',
                    type:'line',
                    data:EData("soil_temperature_3"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#d43f3a'
                        }
                    }
                }
            ]
        };
        soil_temperature_3.setOption(soil_temperature_3tion);
        $(window).resize(soil_temperature_3.resize);

        var soil_moisture_3 = echarts.init(document.getElementById("soil_moisture_3"));
        var soil_moisture_3tion = {
            title : {
                text: '最近一天土湿3'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['土湿3']
            },
            grid:{
                x:30,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} %'
                    }
                }
            ],
            series : [
                {
                    name:'土湿3',
                    type:'bar',
                    data:EData("soil_moisture_3"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#4f5962'
                        }
                    }
                }
            ]
        };
        soil_moisture_3.setOption(soil_moisture_3tion);

        window.onresize = soil_moisture_3.resize;

        //    ----------------------------------------------------------------------------------------
        var wind_speed = echarts.init(document.getElementById("wind_speed"));
        var wind_speedtion = {
            title : {
                text: '最近一天风速'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['风速']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} m/s'
                    }
                }
            ],
            series : [
                {
                    name:'风速',
                    type:'line',
                    data:EData("wind_speed"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#17a2b8'
                        }
                    }
                }
            ]
        };
        wind_speed.setOption(wind_speedtion);
        $(window).resize(wind_speed.resize);

        var conductance = echarts.init(document.getElementById("conductance"));
        var conductancetion = {
            title : {
                text: '最近一天电导'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['电导']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : dt
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} S/m'
                    }
                }
            ],
            series : [
                {
                    name:'电导',
                    type:'line',
                    data:EData("conductance"),
                    symbol: 'circle',     //设定为实心点
                    symbolSize: 1,   //设定实心点的大小
                    itemStyle : {
                        normal : {
                            color:'#ffc107'
                        }
                    }
                }
            ]
        };
        conductance.setOption(conductancetion);

        window.onresize = conductance.resize;
    });
</script>
</body>
</html>