<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('最新数据展示')" />
    <!--<th:block th:include="include :: layout-latest-css" />-->
    <!--<th:block th:include="include :: ztree-css" />-->
    <meta charset="utf-8">
</head>
<link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
<link rel="stylesheet" th:href="@{/alibabaphoto/font_qq3lybkne0q/iconfont.css}">
<body>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="iconfont icon-fengsu"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">风速</span>
                <span class="info-box-number" id="fengsu">
                  10
                  <small>%</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #0e9aef"><i class="iconfont icon-huabanfuben"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">降水量</span>
                <span class="info-box-number" id="jiangshuiliang">41,410</span>
            </div>
        </div>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #ff6600"><i class="iconfont icon-wendu"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">温度</span>
                <span class="info-box-number" id="wendu">760</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #545096"><i class="iconfont icon-IOTtubiao_huabanfuben"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">湿度</span>
                <span class="info-box-number" id="shidu">2,000</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon elevation-1" style="background-color: #d0ce00"><i class="iconfont icon-guangzhao"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">光照</span>
                <span class="info-box-number" id="guangzhao">
                  10
                  <small>%</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #FFFF00"><i class="iconfont icon-yangguang"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">光合作用</span>
                <span class="info-box-number" id="guanghezuoyong">41,410</span>
            </div>
        </div>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #d43f3a"><i class="iconfont icon-turangwendu1"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">土壤温度01</span>
                <span class="info-box-number" id="tuwen01">41,410</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #4E5465"><i class="iconfont icon-turangshidu1"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">土壤湿度01</span>
                <span class="info-box-number" id="tushi01">760</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon elevation-1" style="background-color: #ed9c28"><i class="iconfont icon-PH"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ph值</span>
                <span class="info-box-number" id="phnum">
                  10
                  <small>%</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #33cabb"><i class="iconfont icon-fengxiang"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">风向</span>
                <span class="info-box-number" id="fengxiang">760</span>
            </div>
        </div>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #d43f3a"><i class="iconfont icon-turangwendu2"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">土壤温度02</span>
                <span class="info-box-number" id="tuwen02">2,000</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon elevation-1" style="background-color: #4f5962"><i class="iconfont icon-turangshidu"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">土壤湿度02</span>
                <span class="info-box-number" id="tushi02">
                  10
                  <small>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #ed9c28"><i class="iconfont icon-eryanghuatan"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">二氧化碳</span>
                <span class="info-box-number" id="co2">2,000</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="icon-turangdiandaoshuai"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">电导</span>
                <span class="info-box-number" id="diandao">2,000</span>
            </div>
        </div>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #d43f3a"><i class="iconfont icon-turangshidu"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">土壤温度03</span>
                <span class="info-box-number" id="tuwen03">41,410</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #4f5962"><i class="iconfont icon-turangwendu"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">土壤湿度03</span>
                <span class="info-box-number" id="tushi03">760</span>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<script>
    $(function () {
        var wind_speed = document.getElementById("fengsu");
        var rainfall = document.getElementById("jiangshuiliang");
        var temperature = document.getElementById("wendu");
        var humidity = document.getElementById("shidu");
        var illumination = document.getElementById("guangzhao");
        var Photosynthesis = document.getElementById("guanghezuoyong");
        var soil_temperature_1 = document.getElementById("tuwen01");
        var soil_moisture_1 = document.getElementById("tushi01");
        var ph = document.getElementById("phnum");
        var wind_direction = document.getElementById("fengxiang");
        var soil_temperature_2 = document.getElementById("tuwen02");
        var soil_moisture_2 = document.getElementById("tushi02");
        var co2 = document.getElementById("co2");
        var conductance = document.getElementById("diandao");
        var soil_temperature_3 = document.getElementById("tuwen03");
        var soil_moisture_3 = document.getElementById("tushi03");

        $.ajax({
            type:"POST",
            url:"/system/td/betternew",
            data:{},
            datatype: "json",
            async:false,
            success:function (data) {
                window.alert("成功"+data);
                data = JSON.parse(data);
                wind_speed.innerText = data.data[0][1];
                // rainfall.innerText = data.rainfall;
                // temperature.innerText = data.temperature;
                // humidity.innerText = data.humidity;
                // illumination.innerText = data.illumination;
                // Photosynthesis.innerText = data.Photosynthesis;
                // soil_temperature_1.innerText = data.soil_temperature_1;
                // soil_moisture_1.innerText = data.soil_moisture_1;
                // ph.innerText = data.ph;
                // wind_direction.innerText = data.wind_direction;
                // soil_temperature_2.innerText = data.soil_temperature_2;
                // soil_moisture_2.innerText = data.soil_moisture_2;
                // co2.innerText = data.co2;
                // conductance.innerText = data.conductance;
                // soil_temperature_3.innerText = data.soil_temperature_3;
                // soil_moisture_3.innerText = data.soil_moisture_3;
            },
            error:function (data) {
                alert("出错");
            }
        })
    })
</script>
</html>