<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('最新数据展示')" />
    <!--<th:block th:include="include :: layout-latest-css" />-->
    <!--<th:block th:include="include :: ztree-css" />-->
    <meta charset="utf-8">
</head>
<link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
<link rel="stylesheet" th:href="@{/alibabaphoto/font_qq3lybkne0q/iconfont.css}">
<body>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="iconfont icon-fengsu"></i></span>
            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">风速</span>
                <span class="info-box-number" id="fengsu" style="color: #17a2b8; font-size: 28px">
                  10
                  <small>%</small>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #0e9aef"><i class="iconfont icon-huabanfuben"></i></span>
            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">雨量</span>
                <span class="info-box-number" id="jiangshuiliang" style="color: #0e9aef; font-size: 28px">41,410</span>
            </div>
        </div>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #ff6600"><i class="iconfont icon-wendu"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">温度</span>
                <span class="info-box-number" id="wendu" style="color: #ff6600; font-size: 28px">760</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #545096"><i class="iconfont icon-IOTtubiao_huabanfuben"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">湿度</span>
                <span class="info-box-number" id="shidu" style="color: #545096; font-size: 28px">2,000</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon elevation-1" style="background-color: #d0ce00"><i class="iconfont icon-guangzhao"></i></span>
            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">照度</span>
                <span class="info-box-number" id="guangzhao" style="color: #d0ce00; font-size: 28px">
                  10
                  <small>%</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #FFFF00"><i class="iconfont icon-yangguang"></i></span>
            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">光合</span>
                <span class="info-box-number" id="guanghezuoyong" style="color: #17a2b8; font-size: 28px">41,410</span>
            </div>
        </div>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #d43f3a"><i class="iconfont icon-turangwendu1"></i></span>
            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">土温1</span>
                <span class="info-box-number" id="tuwen01" style="color: #d43f3a; font-size: 28px">41,410</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #4E5465"><i class="iconfont icon-turangshidu1"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">土湿1</span>
                <span class="info-box-number" id="tushi01" style="color: #4E5465; font-size: 28px">760</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon elevation-1" style="background-color: #ed9c28"><i class="iconfont icon-PH"></i></span>
            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">PH</span>
                <span class="info-box-number" id="phnum" style="color: #ed9c28; font-size: 28px">
                  10
                  <small>%</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #33cabb"><i class="iconfont icon-fengxiang"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">风向</span>
                <span class="info-box-number" id="fengxiang" style="color: #33cabb; font-size: 28px">760</span>
            </div>
        </div>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #d43f3a"><i class="iconfont icon-turangwendu2"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">土温2</span>
                <span class="info-box-number" id="tuwen02" style="color: #d43f3a; font-size: 28px">2,000</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon elevation-1" style="background-color: #4f5962"><i class="iconfont icon-turangshidu"></i></span>
            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">土湿2</span>
                <span class="info-box-number" id="tushi02" style="color: #4f5962; font-size: 28px">
                  10
                  <small>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #ed9c28"><i class="iconfont icon-eryanghuatan"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">CO2</span>
                <span class="info-box-number" id="co2" style="color: #ed9c28; font-size: 28px">2,000</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="icon-turangdiandaoshuai"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">电导</span>
                <span class="info-box-number" id="diandao" style="color: #ffc107; font-size: 28px">2,000</span>
            </div>
        </div>
    </div>

    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #d43f3a"><i class="iconfont icon-turangshidu"></i></span>
            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">土温3</span>
                <span class="info-box-number" id="tuwen03" style="color: #d43f3a; font-size: 28px">41,410</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon elevation-1" style="background-color: #4f5962"><i class="iconfont icon-turangwendu"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="font-size: 13px">土湿3</span>
                <span class="info-box-number" id="tushi03" style="color: #4f5962; font-size: 28px">760</span>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<script>
    $(function () {
        var wind_speed = document.getElementById("fengsu");
        var rainfall = document.getElementById("jiangshuiliang");
        var temperature = document.getElementById("wendu");
        var humidity = document.getElementById("shidu");
        var illumination = document.getElementById("guangzhao");
        var Photosynthesis = document.getElementById("guanghezuoyong");
        var soil_temperature_1 = document.getElementById("tuwen01");
        var soil_moisture_1 = document.getElementById("tushi01");
        var ph = document.getElementById("phnum");
        var wind_direction = document.getElementById("fengxiang");
        var soil_temperature_2 = document.getElementById("tuwen02");
        var soil_moisture_2 = document.getElementById("tushi02");
        var co2 = document.getElementById("co2");
        var conductance = document.getElementById("diandao");
        var soil_temperature_3 = document.getElementById("tuwen03");
        var soil_moisture_3 = document.getElementById("tushi03");

        $.ajax({
            type:"POST",
            url:"/system/td/betternew",
            data:{},
            datatype: "json",
            async:false,
            success:function (data) {
                data = JSON.parse(data);
                wind_speed.innerText = data.data[0][2] + " m/s";
                rainfall.innerText = data.data[0][3] + " mm";
                temperature.innerText = data.data[0][4] + " ℃";
                humidity.innerText = data.data[0][5] + " %RH";
                illumination.innerText = data.data[0][6] + " lx";
                Photosynthesis.innerText = data.data[0][7] + " umol";
                soil_temperature_1.innerText = data.data[0][11] + " ℃";
                soil_moisture_1.innerText = data.data[0][12] + " %";
                ph.innerText = data.data[0][10];
                wind_direction.innerText = data.data[0][8] + " °";
                soil_temperature_2.innerText = data.data[0][13] + " ℃";
                soil_moisture_2.innerText = data.data[0][14] + " %";
                co2.innerText = data.data[0][9] + " %";
                conductance.innerText = data.data[0][17] + " S/m";
                soil_temperature_3.innerText = data.data[0][15] + " ℃";
                soil_moisture_3.innerText = data.data[0][16] + " °";
            },
            error:function (data) {
                alert("error");
            }
        })
    })
</script>
</html>